<div class="row">
    <div class="col-md-12">
        <h2 class="heading">Mars Hemispheres</h2>
    </div>
    <div class="col-md-6">
        {% for x in mars.hemisphere_urls[0] %}
        <h4>{{x.title}}</h4>
        <img src="{{x.img_url}}">
        {% endfor %}

        {% for x in mars.hemisphere_urls[1] %}
        <h4>{{x.title}}</h4> 
        <img src="{{x.img_url}}">
        {% endfor %}
    </div>
    <div class="col-md-6">
        {% for x in mars.hemisphere_urls[2] %}
        <h4>{{x.title}}</h4> 
        <img src="{{x.img_url}}">
        {% endfor %}
        
        {% for x in mars.hemisphere_urls[3] %}
        <h4>{{x.title}}</h4>
        <img src="{{x.img_url}}">
        {% endfor %}
    </div>
  </div>